sudo: required
dist: trusty
language: go
## home folder is /home/travis/gopath/src/github.com/radanalyticsio/oshinko-s2i
services:
- docker
matrix:
  # no need to include the build target at present because the template
  # tests perform builds from the local source to do the tests
  include:
    - env: TO_TEST=ephemeral
    - env: TO_TEST=pyspark-templates
    - env: TO_TEST=java-templates
    - env: TO_TEST=scala-templates
  fast_finish: true

before_install:
## add insecure-registry and restart docker
- |
  if [ "$TO_TEST" != "build" ]; then
      pwd
      bash --version
      sudo apt-get install --only-upgrade bash
      bash --version
      sudo cat /etc/default/docker
      sudo service docker stop
      sudo sed -i -e 's/sock/sock --insecure-registry 172.30.0.0\/16/' /etc/default/docker
      sudo cat /etc/default/docker
      sudo service docker start
      sudo service docker status
      ## chmod needs sudo, so all other commands are with sudo
      sudo mkdir -p /home/travis/gopath/src/github.com/radanalyticsio/origin
      sudo chmod -R 766 /home/travis/gopath/src/github.com/radanalyticsio/origin
      ## download oc 1.4.1 binary
      sudo wget https://github.com/openshift/origin/releases/download/v1.5.1/openshift-origin-client-tools-v1.5.1-7b451fc-linux-64bit.tar.gz -P ../origin/
      sudo wget https://github.com/openshift/origin/releases/download/v1.5.1/openshift-origin-server-v1.5.1-7b451fc-linux-64bit.tar.gz -P ../origin/
      sudo ls -l /home/travis/gopath/src/github.com/radanalyticsio/origin
      sudo tar -C ../origin -xvzf /home/travis/gopath/src/github.com/radanalyticsio/origin/openshift-origin-client-tools-v1.5.1-7b451fc-linux-64bit.tar.gz
      sudo tar -C ../origin -xvzf /home/travis/gopath/src/github.com/radanalyticsio/origin/openshift-origin-server-v1.5.1-7b451fc-linux-64bit.tar.gz
      sudo chmod -R 766 /home/travis/gopath/src/github.com/radanalyticsio/oshinko-s2i/
      sudo ls -l /home/travis/gopath/src/github.com/radanalyticsio/origin/openshift-origin-client-tools-v1.5.1-7b451fc-linux-64bit
      sudo ls -l /home/travis/gopath/src/github.com/radanalyticsio/origin/openshift-origin-server-v1.5.1-7b451fc-linux-64bit
      sudo cp /home/travis/gopath/src/github.com/radanalyticsio/origin/openshift-origin-client-tools-v1.5.1-7b451fc-linux-64bit/oc /home/travis/gopath/src/github.com/radanalyticsio/origin
      sudo cp /home/travis/gopath/src/github.com/radanalyticsio/origin/openshift-origin-server-v1.5.1-7b451fc-linux-64bit/* /home/travis/gopath/src/github.com/radanalyticsio/origin
      sudo chmod -R 766 /home/travis/gopath/src/github.com/radanalyticsio/origin
      sudo ls -l /home/travis/gopath/src/github.com/radanalyticsio/origin
      sudo chmod -R +755 /home/travis/gopath/src/github.com/radanalyticsio/origin/*
      sudo chmod -R a+rwX /home/travis/gopath/src/github.com/radanalyticsio/oshinko-s2i
      sudo cp /home/travis/gopath/src/github.com/radanalyticsio/origin/* /bin
      sudo ls -l /bin
      oc version
      export PATH=$PATH:/home/travis/gopath/src/github.com/radanalyticsio/origin/
      echo $PATH
      # below cmd is important to get oc working in ubuntu
      sudo docker run -v /:/rootfs -ti --rm --entrypoint=/bin/bash --privileged openshift/origin:v1.5.1 -c "mv /rootfs/bin/findmnt /rootfs/bin/findmnt.backup"

      # Sometimes oc cluster up fails with a permission error and works when the test is relaunched.
      # See if a retry within the same test works
      set +e
      built=false
      for tries in {1..3}; do
          sudo oc cluster up --host-config-dir=/home/travis/gopath/src/github.com/radanalyticsio/origin
          if [ "$?" -eq 0 ]; then
              built=true
              break
          fi
          echo "Retrying oc cluster up after failure"
          sudo oc cluster down
      done
      set -e
      if [ "$built" == false ]; then
          exit 1
      fi

      sudo chmod -R a+rwX /home/travis/.kube
      sudo ls -l /home/travis/gopath/src/github.com/radanalyticsio/origin
      # find IP:PORT of openshift
      IPSTR=`sudo oc status |grep server`
      echo $IPSTR
      IP=${IPSTR##*/}
      echo ${IP}
      IPSTR=`sudo oc login -u system:admin`
      echo $IPSTR
      oc project default
      oc describe dc/docker-registry
      oc describe dc/router
      oc project myproject     
  fi

install:
before_script:
script:
- if [ "$TO_TEST" == "ephemeral" -o "$TO_TEST" == "pyspark-templates" ]; then pushd `pwd`; cd pyspark; make build; popd ; fi
- if [ "$TO_TEST" == "java-templates" ]; then pushd `pwd`; cd java; make build; popd ; fi
- if [ "$TO_TEST" == "scala-templates" ]; then pushd `pwd`; cd scala; make build; popd ; fi

- if [ "$TO_TEST" == "ephemeral" ]; then export TEST_ONLY=1; ./travis-retry-run.sh "(ephemeral|incomplete)" ; fi
- if [ "$TO_TEST" == "pyspark-templates" ]; then export TEST_ONLY=1; ./travis-retry-run.sh "templates/pyspark" ; fi
- if [ "$TO_TEST" == "java-templates" ]; then export TEST_ONLY=1; ./travis-retry-run.sh "templates/java" ; fi
- if [ "$TO_TEST" == "scala-templates" ]; then export TEST_ONLY=1; ./travis-retry-run.sh "templates/scala" ; fi
notifications:
 email:
   on_success: never
   on_failure: never
